/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
} */

.student-list {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
}




body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

header {
    /* background: rgba(0, 0, 0, 0.7); */
    /* background: url("../static/videos/stars.mp4") no-repeat ;  */
    height: 500px;
    background-size: cover;
    width: 1700px;
    color: rgb(241, 238, 238);
    padding: 1px;
    margin-top: -350px;
    font-size: 24px;
    margin-left: -50px;
}

nav ul {
    margin-top: 4px;
    list-style: none;
    padding: 9px;
    background: rgba(31, 31, 34, 0.7);
}

nav ul li {
    display: inline;
    margin: 30px;
}

nav ul li a {
    color: rgb(250, 248, 248);
    text-decoration: none;
    font-size: 20px;
}

.background{
    margin-top: -100px;
    font-size:24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1d1b1b;
}


/* for video in welcome page-------*/
/* Video Background */
#video-background {
    margin-top: -19px;
    position:relative;
    top: 0;
    left: 0;
    width: 101vw;
    height: 70vh;
    object-fit: cover;
    z-index: -1;
}

header, nav, .background, .gallery-container {
    position: relative;
    z-index: 1; /* Ensures content is visible over the video */
}
