<!DOCTYPE html>
<html lang="en">
<head>
    <title>Room Availability</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Room Availability</h2>
    <table border="1">
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Status</th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_number }}</td>
            <td>{{ room.room_type }}</td>
            <td {% if room.status == 'Occupied' %} style="color: red;" {% elif room.status == 'Under Maintenance' %} style="color: orange;" {% else %} style="color: green;" {% endif %}>
                {{ room.status }}
            </td>
            {% if current_user.is_authenticated and current_user.role == "admin" %}
            <td>
                {% if room.status == 'Occupied' %}
                <form action="{{ url_for('vacate_room', room_number=room.room_number) }}" method="post">
                    <button type="submit">Vacate</button>
                </form>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        
        {% endfor %}
    </table>
</body>
</html>
